:root{
    --tile-bg: rgba(255, 255, 255, 0.705);
    --glass-bg: rgba(0, 102, 255, 0.6);
}

body{
    background-image: url('lake.jpg');
    margin: 0px;
    
}

.bdr-radius{
    border-radius: 10px;
}

.btn-units{
    background-color:white;
    border-style: none;
    margin-bottom: 5px;
    padding: 10px;
    width: 30%;
}

.btn-selected{
    background-color:rgb(0, 127, 212);
    
}

.color-tile{
    background-color: var(--tile-bg);
}

.hi-lo{
    border-style: solid;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    margin: 0px, auto;
    padding: 0px, 20px;
    text-align: center;
    width: 100%;
}

.center-text{
    text-align: center;
}


#close-btn{
    background-color: aliceblue;
    padding: 7px;
    
}

#close-container{
    grid-column: 4/5;
    grid-row: 1/2;
    padding: 10px;
    margin: 0px;
}

#location{
    margin-top: -20px;
}

#location-label{
    margin-top: 3px;
}

#page-title{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5px;
    margin: -20px;
}

#search-bar{
    grid-column: 2/ span 2;
    grid-row: 1/2;
    padding: 10px;
    margin: 0px;
}

#curr-temp{
    grid-column: 1/3;
    padding: 10px;
    text-align: center;
    
}

#curr-sun{
    grid-column: 1/1;
    grid-row: 2/3;
    padding: 10px;
    
}

#curr-weather{
    background-color: var(--glass-bg);
    border-style: outset;
    display: grid;
    grid-template-columns: auto, auto, auto, auto;
    grid-template-rows: 25%,25%,25%;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 60%;
}

#dirArrow{
    transform: rotate(-45deg);
}

#forecast{
    grid-column: 3/5;
    grid-row: 1/4;
    padding: 10px;
}

#hi-lo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    
}

#press-wind{
    grid-column: 2/2;
    grid-row: 2/3;
    padding: 10px;
    
}

#navbar{
    background-color: var(--glass-bg);
    display: grid;
    align-content: start;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    height: 60px;
    width: 100vw;
}

#temp{
    font-size: 32pt;
    margin: 0px;
}