:root{
    --tile-bg: rgba(255, 255, 255, 0.705);
}

body{
    background-image: url('lake.jpg');
    margin: 0px;
    
}

.bdr-radius{
    border-radius: 10px;
}

.btn-units{
    background-color:white;
    border-style: none;
    margin-bottom: 5px;
    padding: 10px;
    width: 30%;
}

.btn-selected{
    background-color:rgb(0, 127, 212);
    
}

.color-tile{
    background-color: var(--tile-bg);
}

.hi-lo{
    border-style: solid;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    margin: 0px, auto;
    padding: 0px, 20px;
    text-align: center;
    width: 100%;
}

#close-btn{
    background-color: aliceblue;
    position: fixed;
    padding: 10px;
    right: 5px;
}

#curr-temp{
    grid-column: 1/1;
    padding: 10px;
    text-align: center;
}

#curr-sun{
    grid-column: 1/1;
    grid-row: 2/3;
    padding: 10px;
}

#curr-weather{
    background-color: rgba(0, 102, 255, 0.6);
    border-style: outset;
    display: grid;
    grid-template-columns: 15%,30%,30%,25%;
    grid-template-rows: 25%,25%,25%;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 60%;
}

#forecast{
    grid-column: 2/5;
    grid-row: 1/3;
    padding: 10px;
}

#hi-lo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    
}

#navbar{
    background-color: blueviolet;
    display: inline-block;
    width: 100vw;
}

#temp{
    font-size: 32pt;
    margin: 0px;
}